@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap');
*{
margin:0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: 'Poppins', sans-serif;
}

:root{
 --color-primario: #0e0a0d;
 --color-secundario: #BD2A2E;
 --color-terciario: #7D97AE;
  --gap: 1.5rem;
}

/*MOBILE FIRST */
/*NAVBAR */

nav{
  height: 60px;
  background-color: var(--color-primario);
  width: 100%;
  position: fixed;
  top: 0;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 1rem;
}

nav h2, .menu li a{
  color: var(--color-text);
}

.menu li a{
  font-size: 1.7rem;
  font-weight: 600;
  
}

.menu{
  position: fixed;
  top:  60px;
  background-color: var(--color-terciario);
  width: 100%;
  height: 100%;
  right:  -100%;
  z-index: -1;
  transition: ease .6s;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.nav-label i img{
  width: 40px;
}

#icono:checked ~ .menu{
  right: 0;
  transition: ease .6s;
}

/*ACA TERMINA EL NAVBAR */

/*EMPIEZA LA SECCION 1*/

.hero{
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-primario);
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.hero_texts{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero_title{
  font-size: 2rem;
  text-transform: uppercase;
  color: #f4f4f4;
}

.hero_paragraph, nav h2{
  color:  var(--color-terciario);
}
.hero_paragraph{
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero img {
  width: 100%;
  height: 100%;
  margin:  0 auto;
  display: block;
}

.mensaje{
  background-color: var(--color-terciario);
  color: #f4f4f4;
  padding: .5rem 2rem;
  border-radius: 5px;
  display: inline-block;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.074));
  position: relative;
  overflow: hidden;

}

.mensaje:before{
  content: "";
  width: 100%;
  height: 50%;
  top:0;
  left:0;
  background-color: #6c8aa4b2;
  position: absolute;
  z-index: -1;
}

.hero_texts h3{
  background-color: var(--color-secundario);
  padding: 0 8px;
  display: inline-block;
  text-transform: uppercase;
}

/* ACA TERMINA LA SECCION HERO  */

/* EMPIEZA SECCION 2  */
.paragraph_info{
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-secundario);
  color: #f4f4f4;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_paragraph{
  text-align: center;
  max-width: 600px;
  height: 100%;
  line-height: 2rem;
}

/* TERMINA LA SECCION PARAGRAPH  */

/* EMPIEZA SECCION BENEFICIOS */

.beneficios{
  background-color: var(--color-primario);
  width: 100%;
  padding: 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.beneficios_text{
  text-align: center;
}

.beneficios_text p, .beneficios_cards p{
  max-width: 350px;
}

.beneficios_cards i img{
  width: 140px; 
}

.beneficios *{
  color: var(--color-secundario);
}

.beneficios_cards{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.beneficios_cards *, .beneficios_text *{
  margin-bottom: .8rem;
}
.beneficios_cards .card h3, .beneficios_text h2{
  color: #f4f4f4;
}

/* TERMINA SECCION BENEFICIOS  */

/* EMPIEZA SECCION WORKS  */

.work{
  width: 100%;
  min-height: 50vh;
  background-color: var(--color-terciario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
  gap: 1.5rem;
}

.work_title{
  text-align: center;
  color: #f4f4f4;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.work_cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.cards-container_card{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 350px;
  border-radius: .3rem;
}


.cards-container_card h3{
  margin: 1.5rem 0 1.5rem 0;
  color: #f4f4f4;
  text-align: center;
  max-width: 350px;
}



.stilo-text{
  color: var(--color-secundario);
}

/* CARD NUMERO  */

.container-num{
  width: 140px;
  height: 140px;
  position: relative;
}

.container-num div{
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  font-size: 4rem;
  font-weight: medium;
  color: var(--color-terciario);
}

.numfront{
  background-color: #f4f4f4;
  transform: perspective(500px) rotateY(0deg);
}

.numback{
  background-color: var(--color-secundario);
  transform: perspective(500px) rotateY(180deg);

}

/* ACA TERMINA SECCION WORK  */

/* VERSION PC  */
@media (min-width: 460px){

  /* NABVAR  */

nav{
  padding: 0px 2rem;
}
.nav-label{
  display: none;
}
.menu{
  position: static;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8rem;
  transition: none;
}
.menu li a{
  color: var(--color-terciario);
  font-weight: normal;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}

.menu li a:before{
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--color-secundario);
  bottom:0;
  left:50%;
  transition: ease .8s;

}

.menu li a:hover:before{
  transition: ease .8s;
  width: 100%;
  left:0;
}
/* TERMINA NAVBAR  */

.hero{
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0 0 0 ;
  min-height: 100vh;
}
.hero_texts{
  max-width: 500px;
}
.hero_title{
  font-size: 3rem;
}
.hero_img{
  max-width: 500px;
}
.hero_img img{
  object-fit: cover;
}

/* TERMINA SECCION1  */

/* SECCION PARAGRAPH  */
.info_paragraph{
  max-width: 900px;
  line-height: 3rem;
  text-transform: uppercase;
  text-shadow: 1px 4px 4px #0006;
}

/* TERMINA SECCION PARAGRAPH  */

/* EMPIEZA SECCION BENEFICIOS  */

.beneficios_cards{
  flex-direction: row;
}
.beneficios_text{
  width: 500px;
}
.beneficios_title{
  font-size: 3rem;
}
.beneficios_paragraph{
  margin: 0 auto;
}
/* TERMINA BENEFICIOS  */
/* NUMERO CARDS  */

.work_cards-container{
  flex-direction: row;
  align-items: baseline;
  padding: 0px 2rem;
  flex-wrap: wrap;
}
.work_title{
  font-size: 3rem;
}

.cards-container_card{
  max-width: 32%;
}
.cards-container_card h3{
  max-width: 500px;
}




  .container-num div
  {
    transition: ease 2s;
  }
  

.numfront{
  background-color: #f4f4f4;
  transform: perspective(500px) rotateY(0deg);
}

.numback{
  background-color: var(--color-secundario);
  transform: perspective(500px) rotateY(180deg);

}
.container-num:hover
{
  cursor: pointer;
}

.container-num:hover .numfront
{
transform: rotateY(180deg);
transition: ease 2s;
}


.container-num:hover .numback
{
  transform: rotateY(360deg);
transition: ease 2s ;
}



}
/* TERMINA LA MEDIA QUERY  */

