*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: 2px solid white; */
}

:root{
    --bg-header: #ff4552fe;
    --bg-body: #ffffff ;
}

body{
    background-color: var(--bg-body);
    height: 100vh;


}
.header{
    display: flex;
    background-color: var(--bg-header);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.header h2{
    color: #1e1e1e;
}

.nav_links{
    display: flex;
    gap: 50px;
}

li{
  
    padding: 7px 5px;
}

.nav_items:hover{
    background-color: var(--bg-body);
    padding: 7px 5px;
    border-radius: 5px;
    cursor: pointer;
}


.nav_items a{
    color:#1e1e1e;

}

button:hover{
    cursor: pointer;
    background-color: var(--bg-body);
    color: #1e1e1e;
}
button{
    border: none;
    padding: 7px 10px;
    background-color: #1e1e1e;
    color: var(--bg-body);
    border-radius: 5px;
}

/* seccion  */

.section{
     width: 90%;
     margin: 0 auto;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 70px;
     padding: 20px 0px;
 }
 .section_card{
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
     width: 90%;
    height: 100%;
    margin-top: 30px;
    line-height: 30px;

     
 }
 
 .card_text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 400px;
     gap: 20px;
 }

 .card_text p{
     text-align: center;
 }

 .card_botones{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 40px;

 }

 .card_botones a{
    box-shadow: 1px 7px 13px -1px rgba(0,0,0,0.55);
     padding: 5px 20px;
     border-radius: 5px;
        max-width: 150px;
        min-width: 150px;
     text-align: center;
    
 }

 .info{
     background-color: #1e1e1e;
     color: #fff;
 }
.proyectos{
    outline: 3px solid  #ff4552fe;
    color: #1e1e1e;
   
}

 figure .card_img{
     width: 400px;
 }

.section_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
 
}
 


.info_paragraph{
    text-align: center;
    line-height: 30px;
   

}

